
body{
    margin: 0;
    padding: 0;
    background-color: #34568B;
}


.container{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 650px;
    background-color: white;
    border-radius: 5px;
}

.container h2{
    text-align: center;
    padding: 18px 0;
    border-bottom: 1px solid silver;
}

form{
    padding: 15px;
    margin: 0 16px;
}

.textfield, textarea{
    width: 100%;
    height: 40px;
    font-size: 18px;
    border: 2px solid #34568B;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 10px;
    margin: 7px 0;
}

textarea{
    height: 80px;
}

.btn{
    width: 18%;
    height: 40px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    border: 0;
    margin: 7px 3px;
}

.btn:hover{
    color: white;
}

.tab{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
}